.app {
  min-height: 100vh;
  background: rgb(111, 191, 218);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.counter {
  height: 300 px;
  width: 300 px;
  background: grey;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.albums {
  height: 300 px;
  width: 300 px;
  background: grey;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}